@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes car-move {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

.animate-car-move {
  animation: car-move 5s linear infinite;
}
