@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes carDrive {
  0% { left: -100px; transform: translateY(-50%); }
  100% { left: 100%; transform: translateY(-50%); }
}

.animate-carDrive {
  animation: carDrive 3s linear forwards;
}
